h1{

    color: yellow;
    background-color:green ;
    border: 20px;
    border-radius: 10px;
    border-color: black;
    margin-left: 40%;

}

pre{

    text-size-adjust: 40%;
    margin-left: 35%;
}